@import "../../sass/variables.scss";
.github_repos {
  padding: 2rem 0;
}
.repo {
  margin-top: 1rem;
  h1 {
    color: $primaryColor;
  }
  button {
    background-color: transparent;
    border: 1px solid $primaryColor;
    color: white;
    padding: 0.5rem 2rem;
  }
}
